.app-header,
.app-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-header {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  max-height: 200px;
  background-color: var(--primary);
  background: linear-gradient(#255ae7, #4f81f8);
}

.app-nav {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 900px;
  height: 100px;
  /* outline: 2px solid red; */
}

.ham-menu-icon,
.plus-icon {
  /* width: 30px; */
  height: 30px;
  color: #fff;
  cursor: pointer;
}

.ham-menu-icon {
  font-size: 2rem;
}

.plus-icon {
  font-size: 2rem;
}

.header-title {
  width: fit-content;
  margin: 20px 10px;
  color: white;
  font-size: 1.7rem;
  font-weight: 500;
  text-align: center;
}

.header-bottom {
  position: absolute;
  bottom: -8px;
  left: 0;
  background-color: red;
  width: 100%;
  height: 15px;
  border-radius: 50%;
  background-color: #4f81f8;
}
